{% block content %}
  <div class="container">
    <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <br/>
    <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
  </div>
{% endblock %}

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
</style>
