{% block content %}
  <div class="container">
    {% if validlink %}
      <h3>Change password</h3>
      <form method="post">
        {% csrf_token %}
        <div>
          {{ form.as_p }}
        </div>
        <button type="submit">Change password</button>
      </form>
    {% else %}
      <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
  </div>
{% endblock %}

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    max-width: 400px;
    margin: 20px auto; /* Added margin */
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  h3 {
    margin-top: 0;
    font-size: 24px;
    margin-bottom: 20px;
  }

  form {
    margin-bottom: 20px;
  }

  button {
    background-color: #0d0acc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #413fe3;
  }

  p {
    font-size: 20px;
    margin-top: 20px; /* Added margin top */
  }
</style>
